*.rtf linguist-detectable=false
*.rtf linguist-documentation=false
*.rtfd linguist-detectable=false
*.rtfd linguist-documentation=false
*.html linguist-detectable=false
*.html linguist-documentation=false
